{% extends 'admininterface/base.html'   %} 
{%load static%}
<!--content block-->
{% block content %}

{% include 'admininterface/status.html' %}
<br>
	<!--<div class="row">
		<div class="col">
			<div class="card card-body">
				<form method="get">
					{{myFilter.form}}
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
			</div>
		</div>
		
	</div>
<br>-->


<div class="row">
	<div class="col-md-5">
		<h5>USERS:</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Users</th>
					<th>User ID</th>
				</tr>
				<!--User info-->
				{% for customer in customers %}
					<tr>
						<td>{{customer.username}}</td>
						<td>{{customer.id}}</td>
					</tr>
				
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-5">
		<h5>Baggers:</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Bagger ID</th>
					<th>Deliveries Completed</th>
					<!--<th>Orders</th>-->
				</tr>
				<!--Bagger info-->
				{% for bags in bagger %}
					<tr>
						<td>{{bags.bagger}}</td>
						<td>{{bags.orderpro_count}}</td>
					</tr>
				
				{% endfor %}

			</table>
		</div>
	</div>


	<div class="col-md-7">
		<h5>ORDERS</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Orders</th>
					<th>Customer</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
				
				<!--order info-->
				{% for order in orders %}
					<tr>
						<td>{{order.pk}}</td>
						<td>{{order.customer}}</td>
						<td>{{order.created_on}}</td>
						<td>{{order.status}}</td>
						<!--Buttons-->
						<td><a class="btn btn-sm" style="background-color: #00AC9F;" href="{% url 'update_order' order.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'cancel_order' order.id %}">Remove</a></td>
					</tr>
				
				{% endfor %}

			</table>
		</div>
	</div>

</div>
<footer>
	<div class="row justify-content-md-center">
		<div class="col-lg-2">
			<a class="btn btn" style="color: #00AC9F;" href="{% url 'chat' %}"><i class="bi bi-send-fill"></i></a>
		</div>
		<div class="col-lg-2"> 
			<a class="btn btn" style="color: #00AC9F;" href="http://127.0.0.1:8000/admin/"><i class="bi bi-person-fill"></i></a>
		</div>
		<div class="col-lg-2">
			<a class="btn btn" style="color: #00AC9F;" href="{% url 'index' %}">
				<i class="bi bi-house-fill"></i>
			</a>
		</div>
	</div>
</footer>
<!--endblock content-->
{% endblock content %}