{% extends 'admininterface/base.html'   %} 

{% block content  %}

{% load static %}
<nav class="navbar fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">
        <img src="{% static 'images/GBLogo.png' %}" alt="Bootstrap" width="30" height="24">
      </a>
      <button class="navbar-toggler" style="color: #2e6db4;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">GameBagged</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        {%if user.is_authenticated%}
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            {% if user.is_superuser or user.is_staff %}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Admin</a>
            </li>
            {% endif %}

            {% for group in user.groups.all %}
            {% if group.name == 'baggers' %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'baghome' user.pk %}">Bagger</a>
            </li>
            {% endif %}
            {% endfor %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'customer' user.pk %}">Customer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a>
            </li>
            
           </ul>
            
          </ul>
        </div>
        {%endif%}
      </div>
    </div>
  </nav>
  
  





<div class="container-fluid text-center" style="background-color:#a1acb4">
	<div class="row">
        <br>
    		<br>
        <br>
     </div>

    <div class="row">

    <!--Banner Styled by Nehemie Augustin-->
  	<div>
      <img src= "{% static 'images/banner.png'%}" class="img-fluid" alt="...">
    </div>

   <div  class="row">
    {%if not user.is_authenticated%}
   		<div class="col">
            <a href="{% url 'account_login' %}" class="btn btn-outline-success">Login</a>
            <a href="{% url 'account_signup' %}" class="btn btn-outline-warning"> Register</a>
      </div>
    {% endif %}
    </div>
		
   <div class="row">
   		<p class="fs-1 text-uppercase fw-bolder" style="font-family:'Brush Script MT', cursive; color: #2e6db4;"> Creators </p>
   </div>
   
   <div  class="row">
   		<div class="col">
    		<img src="{% static 'images/JamesHS.jpg' %}"  class="rounded-circle" alt="James" width="200" height="200">
            <h6>James Peterson IV</h6>
        </div>
        
        <div class="col">
    		<img src="{% static 'images/kamari_image.jpg' %}"  class="rounded-circle" alt="Kamari" width="200" height="200">
            <h6>Kamari J. Williams</h6>
        </div>
        
        <div class="col">
    		<img src="{% static 'images/Brenden_image1.jpg' %}"  class="rounded-circle" alt="Brenden" width="200" height="200">
            <h6>Brenden Driver</h6>
        </div>
        
        <div class="col">
    		<img src="{% static 'images/IMG_3683.jpg' %}"  class="rounded-circle" alt="Nehemie" width="200" height="200">
            <h6>Nehemie Augustin</h6>
        </div>
   </div>
   
  </div>
</div>

{% endblock content  %}