{% extends 'bagger/base.html'   %} 

<!--content block-->
{% block content %}


<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<!--<h5>Bagger:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Delete Customer</a>-->

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Bagger</h5>
			<hr>
			<p>Username:{{bagger.username}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<!--<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px"></h1>-->
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Customer</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Accept</th>
				</tr>
				
				<!--order info-->
				{% for order in orders %}
					<tr>
						<td>{{order.customer}}</td>
						<td>{{order.created_on}}</td>
						<td>{{order.status}}</td>
						<!--Buttons-->
						<td><a class="btn btn-sm btn-info" href="{% url 'bagger_order' order.id %}">Accept</a></td>
					</tr>
				
				{% endfor %}

			</table>
		</div>
		</div>
	</div>
</div>
   
<!--endblock content-->
{% endblock content %}