<footer>
	<!-- Just an image -->
	<div class="row justify-content-md-center">
		<div class="col-lg-2">
			<a class="btn btn" style="color: #2e6db4;" href="{% url 'baghome' user.pk %}">
				<i class="bi bi-bag-fill"></i>
			</a>
		</div>
		<div class="col-lg-2">
			<a class="btn btn" style="color: #2e6db4;" href="{% url 'bagger' user.pk%}">
				<i class="bi bi-cash-coin"></i>
			</a>
		</div>
		<div class="col-lg-2">
			<a class="btn btn" style="color: #2e6db4;" href="">
				<i class="bi bi-star-fill"></i>
			</a>
		</div>
        <div class="col-lg-2">
			<a class="btn btn" style="color: #2e6db4;" href="">
				<i class="bi bi-person-fill"></i>
			</a>
		</div>
	</div>
</footer>