{% extends 'accounts/base.html'   %} 


<!--content block-->
{% block content %}
<h1>
    Gaming Consoles
    <a class="btn btn" style="color: #2e6db4;" href="{% url 'index' %}">
        <i class="bi bi-house-fill"></i>
    </a>
</h1>
<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 text-center">
        <form method="GET" action="{% url 'gs-search' %}">
            <div class="md-form mt-0 active-cyan-2">
                <input class="form-control" name="q" type="text" placeholder="Search Our Console Catalog" aria-label="Search" value="{{ request.GET.q }}">
            </div>
        </form>
    </div>
</div>

<!--Each pages indivdual code-->
<div class="container mb-5">
    <div class="pt-5">
        {% for g in systems %}
        <div class="row mt-4">
            <div class="col-md-2 col-sm-12">
                <img class="rounded" src="{{ g.img.url }}" width="150" height="100"/>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="d-flex flex-row">
                    <div class="form-group">
                        <label >{{ g.name }}</label>
                    </div>
                    <p class="font-weight-bold pl-5">&nbsp;{{ g.price }}</p>
                </div>
                <p>{{ g.description }}</p>
            </div>
        </div>
        <hr />
        {% endfor %}
    </div>
</div>

<!--endblock content-->
{% endblock content %}
