{% extends 'accounts/base.html'   %} 

{%load static%}

<!--content block-->
{% block content %}


<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Products:</h5>
			<hr>
			<a class="btn btn-outline-warning  btn-sm btn-block" style="color: #F3C300;" href="{% url 'games' %}">Video Games</a>
			<a class="btn btn-outline-success  btn-sm btn-block" style="color: #00AC9F;" href="{% url 'cons' %}">Gaming Consoles</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" style="color: #df0024;" href="{% url 'mps' %}">Mobile Phones</a>
			<a class="btn btn-outline-primary  btn-sm btn-block" style="color: #2e6db4;" href="{% url 'accs' %}">Accessories</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Username:{{user.username}} </p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px"></h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Cancel</th>
				</tr>

				{% for order in orders %}
				<tr>
					<td>{{order.items}}</td>
					<td>{{order.created_on}}</td>
					<td>{{order.status}}</td>
					<td><a href="{% url 'update_order' order.id %}" class="btn btn-sm btn-info ">Update</a></td>
					<td><a href="{% url 'cancel_order' order.id %}" class="btn btn-sm btn-danger">Cancel</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>


<footer>
	<!-- Just an image -->
	<div class="position-relative">
		<div class="position-absolute top-0 start-0">
			<a class="btn btn" style="color: #F3C300;" href="{% url 'index' %}">
				<i class="bi bi-house-fill"></i>
			</a>
		</div>
		<div class="position-absolute top-0 end-50 ">
			<a class="btn btn" style="color: #00AC9F;" href="{% url 'order' %}">
				<i class="bi bi-car-front-fill"></i>
			</a>
		</div>
		<div class="position-absolute top-0 end-0">
			<a class="btn btn" style="color: #df0024;" href="{% url 'customer' user.username %}">
				<i class="bi bi-pass-fill"></i>
			</a>
		</div>
	</div>
</footer>
   
<!--endblock content-->
{% endblock content %}