{% extends 'accounts/base.html' %}

{%load static%}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for gs in systems %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ gs.img.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ gs.pk }}">
                                    <label class="form-check-label">{{ gs.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">&nbsp;{{ gs.price }}</p>
                            </div>
                            <p>{{ gs.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for acc in  accs %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ acc.img.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ acc.pk }}">
                                    <label class="form-check-label">{{ acc.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">&nbsp;{{ acc.price }}</p>
                            </div>
                            <p>{{ acc.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for mp in phones %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ mp.img.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ mp.pk }}">
                                    <label class="form-check-label">{{ mp.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">&nbsp;{{ mp.price }}</p>
                            </div>
                            <p>{{ mp.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for vg in vgs %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ vg.img.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ vg.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">&nbsp;{{ vg.price }}</p>
                            </div>
                            <p>{{ vg.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                {{form}}
                
                <!--<button class="btn btn-dark mt-5">Place Order!</button>-->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#submitModal">
                    Place Order!
                </button>

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="submitModalLabel">Submit Your Order!</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back</button>
                            <button type="submit" class="btn btn-primary">Place Order!</button>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}